<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <nav class="navbar navbar-light bg-light">
    <button class="btn btn-outline-success me-2 m-2" type="button"><a routerLink="/ads"
        class="text-decoration-none text-reset">Post Ads</a></button>
    <button class="btn btn-outline-danger m-2" type="button" (click)="logout()">Logout</button>
  </nav>
  <table class="table" (onload)="adsData()">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Image</th>
        <th scope="col">Posted by</th>
        <th scope="col">Posted at</th>
      </tr>
    </thead>
    <tbody class="table-group-divider table-divider-color">
      <tr *ngFor="let item of data | paginate: 
          { itemsPerPage: 8, currentPage: p }">
        <td>{{item.id}}</td>
        <td>{{item.title}}</td>
        <td>{{item.description}}</td>
        <td>{{item.profile}}</td>
        <td>{{item.Posted_by}}</td>
        <td>{{item.posted_at}}</td>
      </tr>
    </tbody>
  </table>
  <pagination-controls (pageChange)="p = $event" class="float-right">
  </pagination-controls>
</body>

</html>